DATABASE_URL="postgresql://tscquestoes:tscquestoes@localhost:5433/tscquestoes?schema=public"
AUTH_URL="http://localhost:3000"
AUTH_SECRET="gere-um-valor-com-openssl-rand-base64-32"
CLIENT_IP_HEADER=""
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_USER=""
SMTP_PASSWORD=""
MAIL_FROM="TSCQuestões <nao-responda@tscquestoes.local>"
